*{ margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
body{
    font-family: 'Martel Sans';
    background-color: black;

}


.main{
background-image: url('/images/bg.jpg');
background-position: center center;
background-repeat: none;
background-size: max(1200px,100vw);
height: 80vh;
position: relative;


}
.box{
    background-color: black;
    height: 80vh;
    width: 100%;
   opacity: 0.54;
   position: absolute;
   top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 90px;
    position: relative;
    z-index: 10;
    padding: 2px;

}
nav img{
    width: 100px;
    height: 100px;
}
#text{
    color: white;
    display: flex;
    flex-direction: column;
   height: 100%;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 10;
}
#text> :first-child{
    font-size: 35px;
    padding: 2px;
    font-weight: 700;
}
#text  >:nth-child(2){
    font-size: 20px;
    padding: 2px;
    font-weight: 700;
}
#text > :nth-child(3){
    font-size: 20px;
    padding: 2px;
    font-weight: 700;
}
/* #text div button{
    background-color: red;
    padding: 10px;
color: white;
margin: 4px;
font-weight: bold;
border: 5px white;
}
#text div input{
    
    padding: 4px;
color: white;
margin: 10px;

font-family: 'Martel Sans';
border: 0.5px solid rgb(132, 129, 129);
background-color: #0F0F0F;
font-weight: bold;} */


.sepration{
    background-color: rgb(110, 110, 110);
    height: 6px;
    width: 100vw;
}
.btn{
    padding: 3px 8px;
font-weight: 500;
    color: white;
    
    cursor: pointer;
    border-radius: 4px;
    font: 'poppins';
   
}
.btnred{
    background-color: red;
    
}
.btnw{
    background: rgba(0, 0, 0, 0.5);
   
}
                                                                          